{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
   
   <div id="wrapper" >        

        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-envelope-open-o bg-orange"></i> Bizimle İletişime Geçin! </h2>
                    </div><!-- end col -->                                  
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-5" style="height: 35em ;">
                                    <h4>İletişime Geçtiğiniz İçin Teşekkürler!</h4>
                                    <hr>
                                    <p>İletişim bilgileriniz ve mesajınız başarıyla gönderildi. Kısa süre içerisinde size dönüş yapılacaktır.</p>
                                </div>
                                
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>   

        <div class="dmtop">Yukarı Çık</div>
        
    </div><!-- end wrapper -->

{% endblock %}